@{
    ViewBag.Title = "Jinder";
}

<div class="row" ng-controller="mainCtrl">
    <div ng-include="'Content/showJob.html'"></div>
    <div ng-include="'Content/addSkillsToJob.html'"></div>
    <div ng-include="'Content/createJob.html'"></div>
    <div ng-include="'Content/intro.html'"></div>
    <div ng-include="'Content/userSettings.html'"></div>
    <div ng-include="'Content/selectSkills.html'"></div>
    <div ng-include="'Content/showJobMatches.html'"></div>
</div>