@{
    ViewBag.Title = "Home Page";
}

<div class="row" ng-controller="mainCtrl">
    <div ng-include="'Content/userSettings.html'"></div>
    <div ng-include="'Content/selectSkills.html'"></div>
    <div ng-include="'Content/summary.html'"></div>
</div>