@{
    ViewBag.Title = "Job Finder Super Duper Plus";
}

<div class="row" ng-controller="mainCtrl">
    <div ng-include="'Content/userSettings.html'"></div>
    <div ng-include="'Content/selectSkills.html'"></div>
    <div ng-include="'Content/job_vacancies.html'"></div>
</div>