<div ng-controller="createJobCtrl as ctrl">
    <div ng-if="ctrl.show">
        <h2 class="header center">Create a job</h2>
        <p class="grey-text center text-darken-3 lighten-3">Describe your vacancy and we will find your perfect match.</p>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input ng-model="ctrl.model.title" id="title" type="text" class="validate">
                    <label for="title">Job title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input ng-model="ctrl.model.description" id="description" type="text" class="validate">
                    <label for="description">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input ng-model="ctrl.model.jobSearch" id="occupation" type="text" class="validate">
                    <label for="occupation">What kind of work is it?</label>
                    <div class="center-align" ng-if="ctrl.searching">
                        <div class="loading">
                            <div class="outer"></div>
                            <div class="inner"></div>
                        </div>
                    </div>
                    <p ng-if="!ctrl.searching && ctrl.model.jobSearch.length > 0 && ctrl.jobs.length == 0">
                        No results...
                    </p>
                    <ul class="collection col s12" ng-if="ctrl.jobs.length > 0">
                        <li class="collection-item" ng-class="{ 'on-hover': ctrl.model.job != job}" ng-repeat="job in ctrl.jobs">
                            <div ng-click="ctrl.selectJob(job)">
                                <span class="hover-item"><i class="material-icons green-text">done</i></span>
                                <span>{{job.title}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <a ng-disabled="!ctrl.model.title && !ctrl.model.description" class="btn col s12 waves-effect waves-light" ng-click="ctrl.createJob()">Next</a>
        </form>
    </div>
</div>
