<div ng-controller="introCtrl as ctrl">
    <div ng-if="ctrl.show">
        <div class="row">
            <h2 class="header center fade-in two-seconds">Jinder</h2>
            <p class="grey-text center text-darken-3 lighten-3"><span class="fade-in four-seconds">Tinder.</span><span class="fade-in five-seconds"> For jobs.</span></p>
        </div>
        <div class="row fade-in six-seconds">
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Find job vacancies</span>
                        <p>
                            I'm currently looking for new opportunities and I want to find a job that fits me perfectly.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#" ng-click="ctrl.findAJob()">Find a job</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Find employees</span>
                        <p>
                            I have a vacant position and want to find the perfect employee for my business.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#" ng-click="ctrl.findAEmployee()">Create a job</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
