<div ng-controller="introCtrl as ctrl">
    <div ng-if="ctrl.show">
        <h2 class="header">Welcome to Jinder</h2>
        <h4>Tinder for jobs</h4>
        <div class="row">
            <div class="col s6 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Find job vacancies</span>
                        <p>
                            I want to find a job that fits me perfectly.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#" ng-click="ctrl.findAJob()">Find a job</a>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Create job</span>
                        <p>
                            I have a vacant position and want to find the perfect employee for my business.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#" ng-click="ctrl.findAEmployee()">Create a job</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
