<div ng-controller="jobVacanciesCtrl as ctrl">
    <div ng-if="ctrl.show">
        <h2>Take a look at what we found</h2>
        <div class="row">
            <div class="col s12 m6" ng-repeat="jobVacancy in ctrl.jobVacancies">
                <div class="card horizontal">
                    <div class="card-stacked card-percentage-holder" ng-class="{ 'green darken-2': jobVacancy.matchPercentage >= 90, 'green': jobVacancy.matchPercentage < 90 && jobVacancy.matchPercentage >= 80, 'green lighten-2': jobVacancy.matchPercentage < 80 && jobVacancy.matchPercentage >= 70, 'green lighten-4': jobVacancy.matchPercentage < 70 && jobVacancy.matchPercentage >= 60, 'yellow': jobVacancy.matchPercentage < 60 && jobVacancy.matchPercentage >= 45, 'orange-darken-1': jobVacancy.matchPercentage < 45 && jobVacancy.matchPercentage >= 30,  'red': jobVacancy.matchPercentage < 30  }">
                        <span class="card-percentage">{{jobVacancy.matchPercentage}}%</span>
                        <div class="card-action">
                            <a href="#">Read more</a>
                        </div>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="card-title">{{jobVacancy.title}}</span>
                            <p>
                                I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
