
.fade-in {
    -webkit-animation: 2s ease 0s normal forwards 1 fadein;
    animation: 2s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

    .fade-in.two-seconds {
        animation-delay: 2s
    }

    .fade-in.four-seconds {
        animation-delay: 4s;
    }

    .fade-in.five-seconds {
        animation-delay: 5s;
    }
    .fade-in.six-seconds {
        animation-delay: 6s;
    }

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.swipe-area {
    background-image: url(images/swipe.png);
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 40px 35px;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    color: #ee6e73;
    font-weight: 300;
}

body {
    background: #fff; /* container background */
    padding: 12px;
}
/* Loading indicator */
.loading {
    position: relative;
    width: 72px; /* diameter */
    height: 72px; /* diameter */
    margin: auto;
}

    .outer, .inner, .loading:after {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
    /* Mask */
    .loading:after {
        content: " ";
        margin: 10%; /* stroke width */
        border-radius: 100%;
        background: #fff; /* container background */
    }
/* Spinning gradients */
.outer, .inner {
    animation-duration: 5s; /* speed */
    -webkit-animation-duration: 5s; /* speed */
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}

.outer {
    animation-name: rotate-outer;
    -webkit-animation-name: rotate-outer;
}

.inner {
    animation-name: rotate-inner;
    -webkit-animation-name: rotate-inner;
}
    /* Halfs */
    .outer:before, .inner:before, .outer:after, .inner:after {
        position: absolute;
        top: 0;
        bottom: 0;
        content: " ";
    }
    /* Left half */
    .outer:before, .inner:before {
        left: 0;
        right: 50%;
        border-radius: 72px 0 0 72px; /* diameter */
    }
    /* Right half */
    .outer:after, .inner:after {
        left: 50%;
        right: 0;
        border-radius: 0 72px 72px 0; /* diameter */
    }
/* Half gradients */
.outer:before {
    background-image: -webkit-linear-gradient(top, hsla(0, 0%, 80%, 0.0), hsla(0, 0%, 100%, 0.5));
    background-image: -moz-linear-gradient(top, hsla(0, 0%, 80%, 0.0), hsla(0, 0%, 100%, 0.5));
    background-image: linear-gradient(to bottom, hsla(0, 0%, 80%, 0.0), hsla(0, 0%, 100%, 0.5));
}

.outer:after {
    background-image: -webkit-linear-gradient(top, hsla(0, 0%, 80%, 1.0), hsla(0, 0%, 100%, 0.5));
    background-image: -moz-linear-gradient(top, hsla(0, 0%, 80%, 1.0), hsla(0, 0%, 100%, 0.5));
    background-image: linear-gradient(to bottom, hsla(0, 0%, 80%, 1.0), hsla(0, 0%, 100%, 0.5));
}

.inner:before {
    background-image: -webkit-linear-gradient(top, hsla(0, 0%, 80%, 0.5), hsla(0, 0%, 75%, 0.5));
    background-image: -moz-linear-gradient(top, hsla(0, 0%, 80%, 0.5), hsla(0, 0%, 75%, 0.5));
    background-image: linear-gradient(to bottom, hsla(0, 0%, 80%, 0.5), hsla(0, 0%, 75%, 0.5));
}

.inner:after {
    background-image: -webkit-linear-gradient(top, hsla(0, 0%, 50%, 0.5), hsla(0, 0%, 75%, 0.5));
    background-image: -moz-linear-gradient(top, hsla(0, 0%, 50%, 0.5), hsla(0, 0%, 75%, 0.5));
    background-image: linear-gradient(to bottom, hsla(0, 0%, 50%, 0.5), hsla(0, 0%, 75%, 0.5));
}
/* Spinning animations */
@keyframes rotate-outer {
    0% {
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }

    100% {
        transform: rotate(1080deg);
        -moz-transform: rotate(1080deg);
        -webkit-transform: rotate(1080deg);
    }
}

@-webkit-keyframes rotate-outer {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(1080deg);
    }
}

@keyframes rotate-inner {
    0% {
        transform: rotate(720deg);
        -moz-transform: rotate(720deg);
        -webkit-transform: rotate(720deg);
    }

    100% {
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}

@-webkit-keyframes rotate-inner {
    0% {
        -webkit-transform: rotate(720deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

.on-hover .hover-item {
    visibility: hidden;
}

.on-hover:hover .hover-item {
    visibility: visible;
}

[animate-on-change].changed {
    background-color: red;
    transition: none;
    -webkit-transition: none;
}


.card.horizontal .card-stacked.card-percentage-holder {
    text-align: center;
    flex: 0.6;
}

.card-percentage-holder .card-action {
    bottom: 0;
    position: absolute;
    margin: 0;
    padding: 16px 0;
    width: 100%;
}

.card-percentage-holder .card-percentage {
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    padding: 10px 10px;
}

.bounce {
    position: absolute;
    margin: auto;
    top: 7px;
    bottom: 0;
    left: 30px;
    right: 30px;
}

    .bounce.bounce-left {
        -webkit-animation: bounce-left 2s infinite ease-in-out;
    }

    .bounce.bounce-right {
        -webkit-animation: bounce-right 2s infinite ease-in-out;
    }

@-webkit-keyframes bounce-left {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateX(0);
    }

    40% {
        -webkit-transform: translateX(-20px);
    }

    80% {
        -webkit-transform: translateX(-10px);
    }
}

@-webkit-keyframes bounce-right {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateX(0);
    }

    40% {
        -webkit-transform: translateX(+20px);
    }

    80% {
        -webkit-transform: translateX(+10px);
    }
}
